@tailwind base;
@tailwind components;
@tailwind utilities;

/* roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  padding: 0 !important;
  font-family: 'Roboto', sans-serif;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* THEME */
.light {
  --background: 351 100% 95%;
  --foreground: 351 5% 0%;
  --card: 351 50% 90%;
  --card-foreground: 351 5% 10%;
  --popover: 351 100% 95%;
  --popover-foreground: 351 100% 0%;
  --primary: 351 100% 16%;
  --primary-foreground: 0 0% 100%;
  --secondary: 351 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 313 30% 85%;
  --muted-foreground: 351 5% 35%;
  --accent: 313 30% 80%;
  --accent-foreground: 351 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 351 5% 90%;
  --border: 351 30% 50%;
  --input: 351 30% 18%;
  --ring: 351 100% 16%;
  --radius: 1.5rem;

  --icon-fill: #b89a00;
  --icon-fill-hover: #b35500;
}

.dark {
  --background: 351 50% 5%;
  --foreground: 351 5% 90%;
  --card: 351 50% 0%;
  --card-foreground: 351 5% 90%;
  --popover: 351 50% 5%;
  --popover-foreground: 351 5% 90%;
  --primary: 351 100% 16%;
  --primary-foreground: 0 0% 100%;
  --secondary: 351 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 313 30% 15%;
  --muted-foreground: 351 5% 60%;
  --accent: 313 30% 15%;
  --accent-foreground: 351 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 351 5% 90%;
  --border: 351 30% 18%;
  --input: 351 30% 18%;
  --ring: 351 100% 16%;
  --radius: 1.5rem;

  --icon-fill: white;
  --icon-fill-hover: #a9a9a9;
}

/*  hide increment from input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* same as above but for firefox */
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

/* disable autocomplete background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none !important;
  -webkit-text-fill-color: inherit !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* SCROLLBAR */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background: hsl(var(--primary));
  border-radius: 5px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: hsl(var(--primary)) transparent;
  }
}
