.burger-menu {
  position: relative;
}

.burger {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.burger:focus {
  outline: none;
}

.burger div {
  width: 2rem;
  height: 0.25rem;
  background: hsl(var(--foreground));
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.burger.open div {
  background: hsl(var(--foreground));
}

.burger.open div:first-child {
  transform: rotate(45deg);
}

.burger.open div:nth-child(2) {
  opacity: 0;
  transform: translateX(20px);
}

.burger.open div:nth-child(3) {
  transform: rotate(-45deg);
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: hsl(var(--background));
  transform: translateX(-100%);
  height: 100vh;
  text-align: left;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
}

.menu.open {
  transform: translateX(0);
}

@media (max-width: 576px) {
  .menu {
    width: 100%;
  }
}
