.ball-container {
	/* TODO margin for discoball */
	margin: 100px;
	height: 100vh;
	position: relative;
	background: #212121;
}

.ball-container .string {
	width: 2px;
	height: 50px;
	background: #333;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -1px;
}

.ball-container .discoball {
	position: absolute;
	top: 50px;
	left: 50%;
	background: rgba(200, 100, 100, 0.7);
	transform: rotateX(90deg);
	transform-style: preserve-3d;
	animation: rotate-discoball 16s linear infinite;
}

.ball-container .mirror {
	position: absolute;
	transform-style: preserve-3d;
	backface-visibility: hidden;
}

.ball-container .glow {
	position: absolute;
	width: 150px;
	height: 150px;
	background: white;
	border-radius: 50%;
	top: 50px;
	left: 50%;
	margin-left: -75px;
	filter: blur(30px);
	opacity: 0.15;
}

@keyframes rotate-discoball {
	from {
		transform: rotateX(90deg) rotateZ(0deg);
	}
	to {
		transform: rotateX(90deg) rotateZ(360deg);
	}
}

@keyframes sparkle {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}

@keyframes slideDown {
	0% {
		transform: translateY(-100px); /* Start above the viewport */
		opacity: 0;
	}
	100% {
		transform: translateY(0); /* End at the original position */
		opacity: 1;
	}
}

.discoball-container {
	animation: slideDown 0.6s ease-out;
}

.credit {
	position: absolute;
	bottom: 30px;
	right: 30px;
	font-family: sans-serif;
	color: white;
}
.credit a {
	color: #bbb;
}
